.i-chat {
  display: flex;
  box-shadow: $box-shadow-base;
  &__menubar {
    display: flex;
    flex-direction: column;
    width: 60px;
    background: $chat-menu-bg;
    border-radius: 5px 0 0 5px;
  }
  // contact
  &__side {
    position: relative;
    width: 200px;
    background: #fff;
    box-shadow: 4px 0 8px -4px rgba(0, 0, 0, 0.11);
  }
  &__default {
    flex: 1;
    display: flex;
    background: #fff;
    border-radius: 0 5px 5px 0;
  }
  // main
  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 0 5px 5px 0;
    .i-message-header {
      height: 50px;
      background-color: rgb(255, 255, 255);
    }
    .i-message-list {
      flex: 1 1 auto;
      background-color: rgb(246, 246, 252);
    }
    .i-message-box {
      height: 100px;
      background-color: rgb(255, 255, 255);
    }
  }
}
// chat 顶部
.i-chat-header {
  padding: 0 10px 0 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.i-message {
  display: inline-block;
  padding: 10px 20px;
  line-height: 14px;
  font-size: 14px;
  color: #fff;
  background-color: #6c89f4;
  border-radius: 15px 20px 20px 0;
  &-image {
    width: 100%;
    max-width: 200px;
  }
}

.i-message-content {
  padding: 0 10px;
  > * + * {
    margin-top: 10px;
  }
  .i-message-group {
    position: relative;
    padding-left: 40px;
    .i-avatar {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}
